<h1>Editing quote</h1>
<!--
<%#= render "form", quote: @quote %>
-->
<%#= turbo_frame_tag "quote_#{@quote.id}" do %>
<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>

<br>

<div>
  <%= link_to "Show this quote", @quote %> |
  <%= link_to "Back to quotes", quotes_path %>
</div>
