<h1>New quote</h1>
<!--
<%#= render "form", quote: @quote %>
-->
<!--
<%#= turbo_frame_tag "second_frame" do %>
  <%#= render "form", quote: @quote %>
<%# end %>
-->

<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>

<br>

<div>
  <%= link_to "Back to quotes", quotes_path %>
</div>
